.aboutMe{
    background-color: violet;
}

.aboutMe > div > p{
    font-size: 2rem;
}

.content-me {
    position: relative;
    top: 10%;
    width: 40%;
    height: 30%;
    border: 1px solid white;
    border-radius: 15px;
}