@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Sora:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Sora', sans-serif;
}

li {
    list-style-type: none;
}

.cv-color {
    background-color: #08c538;
}

.ico-download {
    height: 20px;
    width: 20px;
}

.section {
    height: 100vh;
    width: auto;
}

.size-titulo {
    font-size: 5rem;
}

.size-contenido {
    font-size: 3rem;
}


.content-home {
    width: 100%;
    height: 90%;
}

.saludo>h1,
p {
    font-family: 'Sora', sans-serif;
}

.foto-perfil>img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

/* nav bar */
nav {
    position: relative;
    right: 0px;
    width: 100%;
    height: 5%;
    gap: 3rem;
}

nav>ul>a {
    font-size: 1.4rem;
    text-decoration: none;
}

/* About me */
.aboutMe {
    background-color: violet;
}

.aboutMe>div>p {
    font-size: 2rem;
}

.content-me {
    position: relative;
    top: 10%;
    width: 40%;
    height: 30%;
    border: 1px solid white;
    border-radius: 15px;
}


/* Proyects */
.proyects {
    height: 100vh;
    background-color: aquamarine;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .size-titulo {
        font-size: 3rem;
    }

    .foto-perfil>img {
        height: 200px;
        width: 200px;
    }

}