@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Sora:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Sora', sans-serif;
}

li {
    list-style-type: none;
}

.section {
    height: 100vh;
    min-width: 375px;
}
.cv-color {
    background-color: #08c538;
}

.ico-download {
    height: 20px;
    width: 20px;
}

.size-titulo {
    font-size: 5rem;
}

.size-contenido {
    font-size: 3rem;
}

.saludo>h1,p {
    font-family: 'Sora', sans-serif;
}

.foto-perfil>img {
    object-fit: cover;
    height: 400px;
    min-width: 400px;
    border-radius: 50%;
}

.navbar-nav > li {
    padding: 5px 20px;
}

/* nav bar */

/* About me */
.aboutMe {
    background-color: #719d99;
}

.aboutMe > div {
    background-color: #45767c;
}

.aboutMe>div>p {
    font-size: 3rem;
}

/* Proyects */
.proyects {
    height: 100vh;
    background-color: aquamarine;
}

/* Responsive */
@media screen and (max-width: 1200px) {

    .size-titulo {
        font-size: 4rem;
    }

    .size-contenido {
        font-size: 2rem;
    }

    .foto-perfil>img {
        height: 300px;
        min-width: 300px;
    }

}

@media screen and (max-width: 768px){
    .size-titulo {
        font-size: 3rem;
    }

    .size-contenido {
        font-size: 1rem;
    }

    .foto-perfil>img {
        height: 200px;
        min-width: 200px;
    }
}